.questions {
  display : none;
}

.introPage {
    display : none;
}
.questionOne {
  display : none;
}

.questionTwo {
  display : none;
}
.questionThree {
  display : none;
}
.thankyou {
  display : none;
}
